.info
  h2
    span.title= movie.title
    span.year= movie.year
    a.imdb(href='#{movie.imdbLink}',target='_blank') IMDB

  - if (movie.plot)
    p.plot= movie.plot
  - if (movie.imageUrl)
    .image-bg(style='background-image:url(#{movie.imageUrl})')

ul
  for locRef in movie.locations
    - var cls = locRef.location.geo ? 'geo' : 'no-geo'
    li(class='#{cls}', data-id='#{locRef._id}')
      .location= locRef.location.name
      - if (locRef.description)
        .description= locRef.description

- if (movie.episodes.length)
  ul
    for episode in movie.episodes
      li
        | #{episode.number} #{episode.title}
        ul
          for locRef in episode.locations
            li #{locRef.description} #{locRef.location}
