- if (movies.length === 0)
  .no-results Sorry, nothing found
- else
  ol
    for movie in movies
      li(class='movie-#{movie._id}')
        a(href='#{movie.url}')
          span.content
            span.image
              - if (movie.imageUrl)
                span.poster(style='background-image:url("#{movie.imageUrl}")')
            span.title
              | #{movie.title}
              span.year #{movie.year}
